{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Принципы сайта
      </div>
      <div class="card-body">
        <p>
          <b>Уважение.</b> Наше хранилище с уважением относится к
          первоисточникам и не нарушает их правил.
        </p>
        <p>
          <b>Честность.</b> От пользователей ожидается ответственное отношение
          к результатам чужого интеллектуального труда, мы осуждаем любое злоупотребление
          чужими исследованиями.
        </p>
        <p>
          <b>Уважение к интеллектуальной собственности.</b> Наш архив с уважением относится к чужому интеллектуальному труду
          поэтому не следует законам в сфере интеллектуальной собственности.
        </p>
        <p>
          <b>Личность.</b> Мы не передаем и не разглашаем персональные данные людей без их на то согласие.
        </p>
      </div>
    </div>
  </div>
{% endblock %}